@use 'app/shared/styles/variables' as *;


.modal__window {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-modal;

    .modal {
        width: 400px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-radius: 5px;

        &__text {
            margin: 10px auto;
        }

        &__input {
            width: 100%;
            margin: 0 auto;
            padding: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-bottom: 1px solid $gray-border;
            border-top: 1px solid $gray-border;
            box-sizing: border-box;

            &__newcontact {
                width: 85%;
                height: 10%;
                cursor: text;
                border: 1px solid $light-gray;
                border-radius: 5px;
                padding: 10px;
                font-size: 16px;
                margin: 10px auto;

                &:focus {
                    outline: 1px solid $blueFocus;
                    box-shadow: 0 0 8px 0 $blueFocus;
                }
            }
        }

        .button__container {
            display: flex;
            justify-content: space-between;


            .modal__btn {
                width: 7rem;
                color: $white;
                border-radius: .5rem;
                padding: .5rem;
                font-size: 1.1rem;
                cursor: pointer;
                margin: 1rem;

                &:disabled {
                    cursor: not-allowed;
                    background-color: rgb(92, 117, 105);
                }
            }

            .btn__cancel {
                background-color: $red;
                border: 1px solid $dark-red;
            }

            .btn__save {
                background-color: $green;
                border: 1px solid $dark-green;

                &:not(:disabled) {
                    &:hover {
                        font-weight: bold;
                        outline: 2px solid rgba(77, 150, 88, 0.921);
                        background-color: $green-hover;
                    }

                    &:focus {
                        font-weight: bold;
                        outline: 4px solid rgba(77, 150, 88, 0.921);
                        background-color: rgb(9, 151, 9);
                    }
                }
            }
        }
    }
}

input::placeholder {
    font-size: 1rem;
}